.vue-photo-zoom-pro
  &.magnifier-rotation-90 .img-zoomer
    transform: rotate(90deg)

  &.magnifier-rotation-180 .img-zoomer
    transform: rotate(180deg)

  &.magnifier-rotation-270 .img-zoomer
    transform: rotate(270deg)
